body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    margin: 0;

    background:
    linear-gradient(180deg, #dcecff 0%, #f6f9ff 35%, #ffffff 100%);

    color: #1c1c1e;

}


header {

    padding: 45px 20px 30px;

    text-align: center;

}


header h1 {

    margin: 0;

    font-size: 42px;

    font-weight: 800;

    letter-spacing: -1.5px;

    color: #1d4ed8;

    text-shadow:
    0 3px 10px rgba(29,78,216,0.15);

}


header h1 {

    margin: 0;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: -1px;

}


main {

    padding: 20px;
    max-width: 600px;
    margin: auto;

}



.search-section {

    margin-bottom: 35px;

}


.search-section input {

    width: 100%;
    box-sizing: border-box;

    padding: 18px 20px;

    border-radius: 20px;

    border: none;

    background: white;

    font-size: 17px;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.08);

}



h2 {

    font-size: 22px;
    margin-bottom: 18px;

}



.type-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 16px;

}



.type {

    height: 90px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 24px;

    font-size: 18px;

    font-weight: 700;

    color: white;

    box-shadow:
    0 8px 20px rgba(0,0,0,0.12);

    transition: transform 0.2s;

}


.type:hover {

    transform: translateY(-3px);

}



/* Pokémon Type Colours */


.fire {

    background: linear-gradient(135deg,#f08030,#ff9f43);

}


.water {

    background: linear-gradient(135deg,#6890f0,#4aa3ff);

}


.dragon {

    background: linear-gradient(135deg,#7038f8,#9b59ff);

}


.ice {

    background: linear-gradient(135deg,#98d8d8,#6edff6);

    color:#1c1c1e;

}


.fighting {

    background: linear-gradient(135deg,#c03028,#e74c3c);

}


.electric {

    background: linear-gradient(135deg,#f8d030,#ffd966);

    color:#1c1c1e;

}


.ground {

    background: linear-gradient(135deg,#e0c068,#c19a6b);

}


.steel {

    background: linear-gradient(135deg,#b8b8d0,#8e9aaf);

}



.card {

    background:white;

    margin-top:20px;

    padding:22px;

    border-radius:24px;

    box-shadow:

    0 8px 25px rgba(0,0,0,0.08);

}



.card h3 {

    margin-top:0;

}

.normal {

    background: linear-gradient(135deg,#A8A878,#C6C6A7);

}


.grass {

    background: linear-gradient(135deg,#78C850,#A7DB8D);

}


.poison {

    background: linear-gradient(135deg,#A040A0,#C183C1);

}


.flying {

    background: linear-gradient(135deg,#A890F0,#C6B7FF);

}


.psychic {

    background: linear-gradient(135deg,#F85888,#FF9AAA);

}


.bug {

    background: linear-gradient(135deg,#A8B820,#C6D16E);

}


.rock {

    background: linear-gradient(135deg,#B8A038,#D1C17D);

}


.ghost {

    background: linear-gradient(135deg,#705898,#A292BC);

}


.dark {

    background: linear-gradient(135deg,#705848,#A29288);

}


.fairy {

    background: linear-gradient(135deg,#EE99AC,#F4BDC8);

}
